#login-main{
  background: url(../images/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.login-pages{
  background-color: rgb(255, 255, 255);
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: #000 ;
}
.login-head{
padding-top: 15px;
padding-bottom: 10px;
color: #fff;
font-family: sans-serif;
font-weight: 600;
}
.bg-head{
  background-color: #059648;
}


/* css */

form label{
  font-family: sans-serif;
  font-weight: lighter;
}