*{ 
    font-family: omg;
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  scroll-behavior: smooth;
}

#main-container{
  background-color: #5ad67d;
}

#notice-board{
  background-color: #cc7a10;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.quik-manu{
  background-color: #ff9408;
}
.quik-manu h3{
  font-size: x-large;
  font-weight: bold;
  font-family: sans-serif;
}
.icon-bar i{
  font-size: 40px;
  color: #4c00ff;
  cursor: pointer;
  transition: 0.5s all;
  margin-left: 10px;
}
.icon-bar i:hover{
  color: #fff;
}
.icon-bar p{
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.icon-bar p:hover{
  color: #fff;
}
 /* Including custom fonts _________
                fonts Download in root/fonts => folder 
                ______________________*/

                @font-face
                {
                font-family: omg;
                src: url(../fonts/SutonnyOMJRegular.ttf);
            }

                @font-face
                {
                    font-family: hind;
                    src: url(../fonts/HindSiliguri-Regular.ttf);
                }


#header-top{
  background-color: #20bf6b;
}
#header-padding{
  padding: 10px;
}
.logo-img{
  width: 80px;
  height: auto;
}
.header-text h4{ 
  margin-top: -10px;
  font-size: large;
}
.header-text h4 span{
  margin-left: 25px;
}

/* login and singup button */
.login-btn{
  margin-left: 200px;
  margin-top: 15px;
  list-style: none;
}
.login-btn li{
  display: inline-block;
  margin-left: 5px;
  background:#179652  ;
  transition: 1.1s all ;
}
.login-btn li:hover{
  background-color: #1eaf62;
}
.login-btn li a{
  text-decoration: none;
  color: #fff;
  font-size: large;
  padding: 5px 10px;
}

/* Navbar Css Start */
#margine-left{
  margin-left: auto;
}
#navbar-manu{
  background-color:#179652;
}
#navbar-manu ul{
  padding-left: 100px;
}
#navbar-manu ul li{
  background-color: #179652;
  border-right: 1px solid #fff;
}
#navbar-manu ul li a{
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  transition: 0.5s all;
}
#navbar-manu ul li a:hover{
  color:#0e2380;
}

/* carousel */
.selid-image{
  width: 100%;
  height: 500px;
}
.carousel-item img{
  height: 300px;
}

/* use notice bar scrooling  marquury*/
#notice-selider-header{
  background-color: red;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px;
  margin-left: 30px;
  margin-top: 5px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
#notice-selider-line{
  width: 100%;
  height: auto;
  background-color: #20BF6B;
}

.marquee {
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-left: -14px;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}
/*
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #ccc 10%, transparent 80%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #ccc 10%, transparent 80%);
}*/
.marquee__content {
  width: 300%;
  display: flex;
  line-height: 30px;
  animation-name: marquee;
  animation-duration: 60s;
  animation-delay: 0.1s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}
.marquee__content:hover {
  animation-play-state: paused;
}
.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}


  /* post section code here */
  
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}


/*link section Some Kindfull And HelpFull Link Provide HEre*/
#link-section{
  margin-top: 50px;
}
.link-tittle{
  background-color: #179652;
  padding: 5px;
  margin-bottom: 25px;
}
#link-section h2{
  font-family: hind;
  color: #fff;
}
.list-group p{
  font-weight: bolder;
  font-family: sans-serif;
}
.list-group a{
  transition: 0.5s all;
  font-family: hind;
}
.list-group a:hover{
  background-color: #007BFF;
  color: #fff;
}


/* calender css code here */
.wrapper{
  width: 80%;
  background: #059648;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #c9c6c6;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: rgb(255, 255, 255);
  width: calc(100% / 7);
  font-size: 15px;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: crimson;
}
.days li:not(.active):hover::before{
  background: #eb0000;
}


























/* responcive code */

@media only screen and (max-width: 798px) {
      .header-text h1{
        font-size: 24px;
        font-weight: 600;
        margin-top: 25px;
      }
      .header-text h4{
        display: none;
      }
      .login-btn{
        margin-left: 0px;
        margin-top: 29px;
      }
      .waviy{
        margin-left: 0px;
        font-size: 10px;
        margin-top: 15px;
      }
      .selid-image{
        height: 300px;
      }
      

}